server:
  port: 8080
spring:
  application:
    name: shop-service
  config:
    import: "optional:configserver:http://localhost:8888"
  profiles:
    active: default
  cloud:
    config:
      fail-fast: false

#management:
#  endpoints:
#    web:
#      exposure:
#        include: refresh, health, beans, info