spring:
  application:
    name: shop-service
  config:
    import: "optional:configserver:http://localhost:8888"
  profiles:
    active: default
  cloud:
    config:
      fail-fast: true


management:
  endpoints:
    web:
      exposure:
        include: refresh, health, beans, info