server:
  port: 0
spring:
  application:
    name: member-service
  config:
    import: "optional:configserver:http://localhost:8888"
  profiles:
    active: default
  cloud:
    config:
      fail-fast: false